<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sung.hackathon">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ModifyActivity"></activity>
        <activity
            android:name=".MainActivity" android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".SignActivity"></activity>
        <activity
            android:name=".IconActivity"></activity>

        <activity
            android:name=".UserOut"></activity>
        <activity
            android:name=".ModifyActivity_Mall"></activity>
        <activity
            android:name=".recipe_add"
        android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".recipe_detail"></activity>
        <activity
            android:name=".password_identify"></activity>


        <receiver android:name=".MyService"></receiver>
    </application>

</manifest>